body {
  font-family: "Poppins", sans-serif;
  background: #a4b3b6;
  color: #fff;
  overflow-x: hidden;
}
button:focus,
input:focus {
  outline: 0;
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App-body {
  flex: 1;
  display: flex;
  /* flex-direction: column; */
}
.App-header {
  color: #fff;
  background: #2a1b3d;
  padding: 40px 0;
}
.m-auto {
  margin: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.flex-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site-title {
  margin: 0;
  text-align: center;
}
.search-container {
  display: flex;
  flex-direction: column;
}
#searchInput {
  color: #fff;
  background: transparent;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
}
.btn {
  color: #fff;
  background: transparent;
  max-width: 100%;
  width: 200px;
  border: 1px solid;
  margin: 10px auto;
  padding: 15px;
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.btn-text {
  padding-left: 10px;
}
.py-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.opacity-half {
  opacity: 0.5;
}
.saved-search-container {
  flex: 2;
}
.saved-search-inner-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 20px 20px;
  min-height: 90vh;
  position: sticky;
  border-left: 1px solid;
  top: 5vh;
  box-sizing: border-box;
  min-width: 250px;
}
.saved-search-list {
  padding: 0;
}
.saved-search-item {
  padding: 10px 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.saved-search-item > span {
  flex: 1;
}
.delete-saved-search {
  background: transparent;
  border: none;
  color: #fff;
  margin-left: 25px;
}
.load-saved-search {
  background: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
}
/* .saved-search-inner-container:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: #2a1b3d6b;
  z-index: -1;
} */
.images-container {
  display: flex;
  flex: 7;
  flex-direction: column;
}
.images-top-line {
  display: flex;
  justify-content: space-between;
}
.images-grid {
  column-count: 5;
  column-gap: 5px;
  line-height: 0;
}
.single-photo {
  width: auto;
  max-width: 100%;
  height: auto;
  /* max-height: 200px; */
  /* margin-bottom: 5px; */
}
.images-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-flex-container {
  margin: auto;
  padding: 10px 5px;
  min-width: 300px;
  flex: 1;
  text-align: center;
}
.red {
  color: red;
}
.title {
  width: 100%;
  border-bottom: 1px solid;
  padding: 10px 15px;
  box-sizing: border-box;
  text-align: left;
}
.modal-fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: #00000087;
}
.close-modal {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  border: none;
  color: #fff;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.close-modal:hover {
  opacity: 1;
}
.modal-inner-container {
  margin: auto;
  position: relative;
  height: auto;
}
.modal-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100vh;
  display: block;
  margin: auto;
  position: relative;
}
.modal-description-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}
.modal-description-inner-container {
  position: relative;
  padding: 20px;
}
.modal-description-inner-container:before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 140%;
  left: 0;
  bottom: 0;
  background: linear-gradient(#0000, #000000bf);
}
.modal-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
}
.modal-arrow.left-arrow {
  left: 20px;
}
.modal-arrow.right-arrow {
  right: 20px;
}
.modal-arrow > button {
  margin: auto 0;
  background: transparent;
  color: #fff;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.modal-arrow > button:hover {
  opacity: 1;
}
