body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.App-body {
  flex: 1;
  display: flex;
}
.App-header {
  color: #000;
  background: #fff;
  padding: 40px 0;
}
.m-auto {
  margin: auto;
}
.flex-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.site-title {
  margin: 0;
  text-align: center;
}
.search-container {
  display: flex;
  flex-direction: column;
}
#searchInput {
  color: #000;
  background: transparent;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid;
  margin: 10px 0;
  padding: 15px;
  box-sizing: border-box;
}
#searchSubmit {
  color: #000;
  background: #fff;
  max-width: 100%;
  width: 200px;
  border: 1px solid;
  margin: 10px auto;
  padding: 15px;
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.submit-text {
  padding-left: 10px;
}
.py-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.opacity-half {
  opacity: 0.5;
}
.images-grid {
  column-count: 5;
  column-gap: 5px;
  line-height: 0;
}
.single-photo {
  width: auto;
  height: auto;
  /* max-height: 200px; */
  /* margin-bottom: 5px; */
}
.images-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image-flex-container {
  margin: auto;
  padding: 10px 2px;
}
